html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

header {
  padding: 25px 0px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #ff8400;
  background: #ff8400;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

p {
  text-align: center;
  font-size: 25px;
  padding: 0px 20px;
}

p::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background: #ff8400;
  margin: 15px auto;
}

.logo-loggi {
  width: 15vw;
  padding: 1%;
}

.content-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subtitles {
  border: 2px solid #ff8400;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px 0px 0px 0px;
}

.subtitles ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

.div-subtitles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0px;
}

.ball-red {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.521);
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 100%;
}

.table-select {
  z-index: 5;
  background-color: #fff;
  padding: 10px 15px;
  border: 2px solid #ff8400;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  margin: 5px;
  background: rgb(92, 173, 240);
  color: black;
  border: none;
  font-size: 20px;
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  width: 100%;
  height: 6vh;
}

.btn:hover {
  background: #ff8400;
  box-shadow: 3px 3px 1em rgba(68, 68, 68, 0.747);
}

.map-style {
  width: 50%;
  height: 100%;
  box-shadow: 5px 5px 3em rgba(68, 68, 68, 0.308);
}

footer {
  border-top: 2px solid #ff8400;
  padding: 20px 0px;
  text-align: center;
  background: #ff8400;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  margin-top: 25px;
}

@media (min-width: 620px) {
  .logo-loggi {
    max-width: 30vw;
  }

  header {
    height: 25vh;
  }

  .subtitles {
    height: 16vh;
  }

  /* .btn {
    height: 8vh;
    font-size: 20px;
    width: 22vw;
  }

  .table-select {
    width: 100%;
    left: 0;
    height: 10vh;
  } */
}

/* 
@media (min-width: 1200px) { */

/* } */
